<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZNX-shoppingmall-index</title>
    <script src="js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" href="logo/favicon.ico">
    <script src="js/vue.js"></script>
    
</head>
<body>
    <div class="top">
        <div> <img src="logo/logo.png" alt="" ></div>
        <div>
            <a href="#">主页</a>
            <a href="#">商铺</a>
            <a href="#showproduct">商品</a>
        </div>
        <div>
            <div id="search">
                <input id="search-text" type="text" placeholder="搜索商品">
                <i id="search-img"></i>
            </div>
            <div id="store" >

                <div id="store-list">
                    <div id="storelist-head">
                        <p><span>购物车</span></p>
                    </div>
                    
                    <ul id="cart">
                        <li v-for="item in cartlist" class="clear">
                            <div><img :src="item.pic" alt=""></div>
                            <div class="storeproduct">
                            <p>{{item.name}}<br>
                            {{item.dec}}<br>
                            价格：￥{{item.price}}<br>
                            <i @click="deletepro(item.id,item.price)">移除</i>
                            </p>
                            </div>
                        </li>     
                        <li id="lastli" class="clear" v-if="cartlist.length>0">
                            <div id="totalproduct">
                            总计商品<span>{{cartlist.length}}</span>件
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            合计金额<span>{{totalprice}}</span>元
                            </div>  
                        </li> 
                        <li v-else>
                            <div id="nonepro">
                                <span>您的购物车空空如也！</span><i></i>
                            </div>      
                        </li> 
                    </ul>  
                </div>
                <i id="store-img"></i>   
            </div>
            <div id="menu">
                    <ul>
                        <li><a href="#">我的账户</a></li>                 
                        <hr>
                        <li><a href="#">愿望清单</a></li>
                        <hr>
                        <li><a href="login.html">登录</a></li>
                        <hr>
                        <li><a href="musicplayer.html">听歌</a></li>
                    </ul>
                    <i id="menu-img"></i>
            </div>
        </div>
    </div>
    <div class="row1 w clear" id="slider1">
        <div id="row1box1" class="float">
            <div id="row1col1" class="clear" >
                <img src="slider/layer-1.png" alt="" class="float">
                <div class="float row1text">
                    <h1>苹果(Apple)Iphone 13Pro</h1>
                    <h2>价格:￥7999</h2>
                    <ul>
                        <li>配色:石墨色，金色，银色，远峰蓝色</li>
                        <li>中框和后盖:不锈钢亮面中框，背面磨砂玻璃。</li>
                        <li>处理器:<span>A15仿生处理器</span></li>
                        <li>屏幕:<span>6.1英寸</span>OLED材质120Hz刷新率1080p屏</li>
                        <li>机身尺寸与重量:<span>146.7x71.5x7.65mm</span>,重量为203克</li>
                        <li>续航能力:电池容量为<span>3095毫安</span>,支持20W 有线闪充、15w Magsafe无线充电和7.5w Qi无线充电</li>
                        <li>扬声器情况：立体声双扬声器</li>
                        <li>信号基带:高通X60</li>
                        <li>功能支持:支持NFC、线性马达、WiFi6E和IP68级防尘防水</li>
                        <button class="moreinfo">查看详情</button>        
                    </ul>         
                </div>
            </div>
            <div id="row1col2" class="clear">
                <img src="slider/layer-2.png" alt="" class="float">
                <div class="float row1text">
                    <h1>华为(HuaWei)P50-pro</h1>
                    <h2>价格:￥7988</h2>
                    <ul>
                        <li>配色:啥颜色都有,纯色混搭任选</li>
                        <li>摄像:<span>后置5000w</span>主摄,1300w超广角,6400w长焦,3.5x光变,<span>前置1300w</span>,最高200x数字变焦。</li>
                        <li>处理器:<span>麒麟9000 4G</span></li>
                        <li>屏幕:<span>6.6英寸</span>,<span>OLED曲面屏</span>,2700x1228分辨率,120Hz+300Hz采样率,P3+10.7亿色</li>
                        <li>机身尺寸与重量:<span>158.8*72.8*8.5</span>mm,重<span>195g</span></li>
                        <li>续航能力:<span>4360mAh</span>电池,66w快充+50w无线</li>
                        <li>扬声器情况：立体声双扬声器</li>
                        <li>内存(最佳):运行内存:<span>12G</span>,存储内存:<span>512GB</span></li>
                        <li>功能支持:支持NFC、线性马达、WiFi6E和IP68级防尘防水</li> 
                        <button class="moreinfo">查看详情</button>        
                    </ul>         
                </div>
            </div>
        </div> 
        <i id="left"></i>
        <i id="right"></i>
    </div>
    <div class="row2 w clear">
        <div>
            <img src="banner/2.jpg" alt="">
            <div id="div1">
                <h4>OPPO Reno 6</h4>
                <h5>上市时间:2021年05月27日</h5> 
                <button>了解更多!👉</button>  
            </div>
                            
        </div>
        <div>
            <img src="banner/3.jpg" alt="" >
            <div id="div2" >
                <h4>华为Honor 9</h4>
                <h5>上市时间:2017年6月12日</h5>
                <p>搭载<span>麒麟960处理器</span>,5.15英寸屏幕,前置800万像素,
                    后置<span>2000万</span>像素,电池容量<span>3200毫安</span></p>
                <button>了解更多!👉</button> 
            </div>         
        </div>
        <div>
            <img src="banner/4.jpg" alt="">
            <div id="div3">
                <h4>小米11</h4>
                <h5>上市时间:2020年12月28日</h5>
                <p>屏幕采用<span>6.81英寸AMOLED屏幕</span>;高度约164.3毫米,宽度约74.6毫米,玻璃版厚约8.06毫米,
                    玻璃版重量约<span>196克</span>,素皮版重量约194克</p>
                <button>了解更多!👉</button> 
            </div>
        </div>          
    </div>
    <div class="row3 w clear" id="showproduct" >
        <h2>产品</h2>
        <p>几款核心产品将在这里展示,包括各个品牌的最新产品</p>
        <div class="clear" id="box1">
            <div class="proimg" v-for="item in row1" :key="item.id">
                <img :src="item.pic" alt="">
                <hr>
                <p><span>{{item.name}}</span><br>价格：￥{{item.price}}<br>{{item.dec}}</p>
                <div class="pro-eva">
                    <i class="first"></i>
                    <i @click="lovepro(item.id,item.price)"  :ref="item.id"></i>
                    <i></i>
                </div>
            </div>
        </div>
        <div class="clear" id="box2">
            <div class="proimg" v-for="item in row2"  :key="item.id">
                <img :src="item.pic" alt="">
                <hr>
                <p><span>{{item.name}}</span><br>价格：￥{{item.price}}<br>{{item.dec}}</p>
                <div class="pro-eva">
                    <i class="first"></i>
                    <i @click="lovepro2(item.id,item.price)" :ref="item.id"></i>
                    <i></i>
                </div>
            </div>
        </div>
        

    </div>
    <div class="row4 w">
        <h1>核酸卡片展示</h1>
        <div id="card1">
            <img src="bg/1.JPG" alt="" id="card1-1">
            <img src="bg/3.JPG" alt="" id="card1-2">
        </div>
        <div id="box">
            <div id="left-img">
                <img src="bg/1.JPG" alt="">
            </div>
            <div id="front">
                <img src="bg/4.JPG" alt="">
            </div>    
            <div id="back">
                <img src="bg/3.JPG" alt="" > 
            </div>
            <div id="right-img">
                <img src="bg/2.JPG" alt="">
            </div>
        </div>
        <div id="card2">
            <img src="bg/2.JPG" alt="" id="card2-1"> 
            <img src="bg/4.JPG" alt="" id="card2-2"> 
        </div>          
        
    </div>
    <div class="bottom w">
        <h1>底部留白</h1>
    </div>
    <script>
        var productlist1=[
            {id:1,
            pic:"product/1.jpg",
            name:"苹果(Apple)Iphone4",
            price:5999,
            dec:"A14仿生芯片、6.1英寸"},
            {id:2,
            pic:"product/2.jpg",
            name:"华为4pro",
            price:4999,
            dec:"A14仿生芯片、6.1英寸"},
            {id:3,
            pic:"product/3.jpg",
            name:"小米4",
            price:3000,
            dec:"A14仿生芯片、6.1英寸"},
            {id:4,
            pic:"product/4.jpg",
            name:"OPPO4",
            price:4999,
            dec:"A14仿生芯片、6.1英寸"}
        ];
        var productlist2 = [
            {id:5,
            pic:"product/5.jpg",
            name:"中心ZTE-pro",
            price:5050,
            dec:"A14仿生芯片、6.1英寸"},
            {id:6,
            pic:"product/6.jpg",
            name:"魅族-plus",
            price:3200,
            dec:"A14仿生芯片、6.1英寸"},
            {id:7,
            pic:"product/7.jpg",
            name:"一加-plus",
            price:5000,
            dec:"A14仿生芯片、6.1英寸"},
            {id:8,
            pic:"product/3.jpg",
            name:"三星-pro",
            price:6600,
            dec:"A14仿生芯片、6.1英寸"}
        ];
        var vue1 = new Vue({
            el:"#box1",
            data:{
                row1:productlist1
            },
            methods:{
                lovepro(id,price){
                    console.log(`成功获取被点击的商品id为${id}`);
                    this.row1.some(item => {
                        if(item.id==id){ 
                            console.log("成功获取商品对象");
                            console.log(item);
                            // 这里this都指的vue对象，因为用了箭头函数
                            // console.log(this);
                            if( vue3.cartlist.some(cartitem => {return cartitem==item})){                              
                                alert("商品已在购物车中！");   
                            }else{
                                vue3.cartlist.push(item);
                                alert("已经将商品加入购物车"); 
                                vue3.totalprice += price;
                                // 通过refs拿到被点击的DOM，注意：vue1.$refs[`${id}`]
                                // 获取到还是一个数组，因为前面ref绑定了一个唯一的id，所以数组里元素就1个
                                // 再取下[0]即可拿到对应DOM
                                console.log(this.$refs);
                                this.$refs[`${id}`][0].style.color="red";
                            }
                            console.log( vue3.cartlist)   
                            return true;
                        };
                    });
                    
                }
            }
        });
        var vue2 = new Vue({
            el:"#box2",
            data:{
                row2:productlist2
            },
            methods:{
                lovepro2(id,price){
                    console.log(`成功获取被点击的商品id为${id}`);
                    this.row2.some(item => {
                        if(item.id==id){ 
                            console.log("成功获取商品对象");
                            console.log(item);
                            if(vue3.cartlist.some(cartitem => {return cartitem==item})){                              
                                alert("商品已在购物车中！");   
                            }else{
                                vue3.cartlist.push(item);
                                alert("已经将商品加入购物车"); 
                                vue3.totalprice += price;
                                console.log(this.$refs);
                                this.$refs[`${id}`][0].style.color="red";
                            };
                            console.log(vue3.cartlist);   
                            return true;
                        };
                    });
                }
            }
        });
        var vue3 = new Vue({
            el:"#cart",
            data:{
                cartlist:[],
                totalprice:0
            },
            methods:{
                deletepro(id,price){
                    if(vue1.row1.some(item => item.id==id)){
                        console.log("被删除商品在第1行中!");
                        vue1.$refs[`${id}`][0].style.color="gray";
                    }else{
                        console.log("被删除商品在第2行中!");
                        vue2.$refs[`${id}`][0].style.color="gray";
                    }
                    // 更新cartlist重新渲染
                    this.cartlist = this.cartlist.filter(item => item.id!=id);
                    console.log(this.cartlist);
                    vue3.totalprice -= price; 
                    console.log(`已将该商品移除购物车！`);
                },
            
            }
        })
    </script>
    <script src="js/index.js"></script>
</body>
</html>